* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.frame {
    border: 2px solid #000;
}

.output {
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #000;
    min-height: 2em;
    width: 300px;
}

button {
    padding: 5px;
    margin: 3px;
    margin-bottom: 5px;
    font-size: 1rem;
}
